.help {
    background-image: url(images/help.png) !important;
}
.excl {
    background-image: url(images/exclamation.png) !important;
}

.commentadd {
    background-image: url(images/comment_add.png) !important;
}

.commentcollapse {
    background-image: url(images/comment_delete.png) !important;
}
