/* 
    Document   : config
    Created on : 03 Nov 2009, 2:32:03 PM
    Author     : nguni
    Description: This stylesheet is for the configurations page. Any style associated
                 with configurations_tpl.php should be added here
        
*/

