body {
	font-family:helvetica,tahoma,verdana,sans-serif;
	padding:20px;
    padding-top:32px;
    font-size:13px;
	background-color:#fff !important;
}

div#proposal-note {
    width: 750px;
    padding-bottom: 10px;
}
span#commentSuccess, div#note {color: #FF0000;}
div#note a {
    color: #0033FF;
    text-decoration: underline;
}
div#note a:hover {color: #FF0000;}
.x-panel-btns {
    text-align:right;
}


