/* 
Document   : courseproposal
Created on : Jul 23, 2009, 4:06:41 PM
Author     : nguni
Description:
Purpose of the stylesheet follows.
*/

/* 
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div#proposal-note {
    width: 750px;
    padding-bottom: 10px;
}
span#commentSuccess, div#note {color: #FF0000;}
div#note a {
    color: #0033FF;
    text-decoration: underline;
}
div#note a:hover {color: #FF0000;}
.x-panel-btns {
    text-align:right;
}


