.back {
    background-image: url(../imgs/arrow_left.png) !important;
}
.next {
   background-image: url(../imgs/arrow_right.png) !important;
}

.saveforlater {
    background-image: url(../imgs/page_save.png) !important;
}
.submitfinalapp {
background-image: url(../imgs/accept.png) !important;
}
.cancel {
    background-image: url(../imgs/cross.png) !important;
}
