/*
CSS for Digital Business Card
*/

.name-wrapper {
    font-size: 160%;
}

.vcard_left {
    float:left;
}
.vcard_right {
    float:right;
}
.vcard_map {

}

.vcard_textinfo {
    width: 340px;
    color: grey;
}

.vcard {
    width: 850px;
    padding-left: 20px;
    padding-top: 20px;
}

.tel {
    font-size: 70%;
    line-height: 130%;
}

a:hover img {
    margin-left: -5px;
}

