BODY {
	BACKGROUND: #eeeee8; MARGIN: 1em; FONT-FAMILY: sans-serif
}
DIV.frame {
	BORDER-RIGHT: thin; PADDING-RIGHT: 1em; BORDER-TOP: thin; PADDING-LEFT: 1em; BACKGROUND: #ddddd6; PADDING-BOTTOM: 1em; MARGIN: 0.2em; BORDER-LEFT: thin; PADDING-TOP: 1em; BORDER-BOTTOM: thin
}
EM {
	COLOR: green
}
A.toc1:link {
	COLOR: green; TEXT-DECORATION: none
}
A.toc1:visited {
	COLOR: green; TEXT-DECORATION: none
}
A.toc1:active {
	TEXT-DECORATION: none
}
A.toc1:hover {
	COLOR: maroon; TEXT-DECORATION: underline
}
A.toc2:link {
	COLOR: black; TEXT-DECORATION: none
}
A.toc2:visited {
	COLOR: black; TEXT-DECORATION: none
}
A.toc2:active {
	TEXT-DECORATION: none
}
A.toc2:hover {
	COLOR: maroon; TEXT-DECORATION: underline
}
DIV.toc2 {
	FONT-SIZE: x-small
}
SPAN.username {
	COLOR: #669900; FONT-STYLE: italic
}
H1 {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BACKGROUND: #ddddc0; PADDING-BOTTOM: 0.5em; COLOR: #447744; PADDING-TOP: 0.5em; TEXT-ALIGN: center
}
H3 {
	BACKGROUND: #e0e0d0; COLOR: green
}
