<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>org.avoir.realtime.plugins.AvoirRealtimePlugin</class>

    <!-- Plugin meta-data -->
    <name>avoirrealtime</name>
    <description>Plugin for handling custom packets from avoir client.</description>
    <author>FSIU, UWC</author>

    <version>0.1</version>
    <date>29/03/2009</date>
    <url>http://avoir.uwc.ac.za</url>
    <minServerVersion>3.6.3</minServerVersion>
    <licenseType>gpl</licenseType>
	
    <databaseKey>avoirrealtime</databaseKey>
	<databaseVersion>19</databaseVersion>
	<!-- Admin console entries -->
    <adminconsole>		
	<tab id="tab-server">
		<sidebar id="sidebar-avoirrealtime-settings" name="Avoir Realtime">
			<item id="avoirrealtime-props-edit-form" name="Avoir Realtime Properties"
				url="conf?action=display"
				description="Edit Avoir Realtime Properties" />
		</sidebar>
        </tab>  
    </adminconsole>  
</plugin>
