# $Id: build.properties.example,v 1.1 2007/02/26 08:24:42 adrian Exp $
#Contains example build properties for all "sub-projects"
#copy this file to build.properties in the same folder and customise the
#values to suit your your own setup.
#Do NOT commit build.properties, but if you create new properties
#used by your build.xml files add them here

#the location on your local filesystem where the realtime classroom module is checked out
realtime.chisimba.dir=/var/www/chisimba_modules/realtime/resource/
realtime.chisimba.realtime.pluginmanager.dir=/projects/chisimba_realtime_launcher/lib/
realtime.chisimba.realtime.launcher.dir=/projects/chisimba_realtime_pluginmanager/lib/
