td.widelink a {
	display:block;
}

th.header {
	background-color: #CCCCCC;
}


table.highlightrows tr:hover {
	background-color: lightgrey;
}

.odd{
	background-color: #FFFFFF;
}

.even{
	background-color: #EEEEEE;
}



td.widelink a:link {
	text-decoration: none;
	color: #A52A2A;
}
td.widelink a:visited {
	text-decoration: none;
	color: #A52A2A;
}
td.widelink a:active {
	text-decoration: none;
	color: #A52A2A;
}
td.widelink a:hover {
	text-decoration: underline; 
	color: red;
}

.menulink a:link {
	text-decoration:none;
	color: #A52A2A;
}

.menulink a:visited {
	text-decoration:none;
	color: #A52A2A;
}
.menulink a:active {
	text-decoration:none;
	color: #A52A2A;
}
.menulink a:hover {
	text-decoration:none;
	color: #00008B;
}
