.cont {
	width:620px;
	overflow:hidden;
	height:170px; /* you need to set a height */
	border:1px solid #eee;
	z-index:1000;
	position:relative;
	}
.invis {
	position:absolute;
	left:0;
	/* width is set through java */
	}
.slider-item,.slider-item2,.slider-item3 {
	float:left;
	display:block;
	width:600px;
	padding:10px;
	height:150px;
	/*background:#eee;*/
	overflow:hidden;
	}
.nav a, .nav a:active, .nav a:visited {
	display:block;
	float:left;
	padding:5px;
	background:#666;
	color:#33CCFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:0px;
	margin-right:5px;
	text-decoration:none;
	visibility:hidden;
	}
.nav li {
	cursor:pointer;
}

/* END EXAMPLE 1 */
.desc {
	margin:12px 0;
	}
.clear {
	clear:both;
}